body {
 background: url("../img/background.jpg");
}

.button-col {
  background: none;
}

.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}

.covered img{
  src: "../img/card-back.png";
}

.hand {
  overflow: auto;
}

.round {
 
}

.golden-base {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bold;
  -webkit-margin-before: 0.3em; 
  -webkit-margin-after: 0.2em;
}

.golden {
  background-image: -webkit-linear-gradient(#E8D800, #E0CF00 52%, #A86800 55%, #A86800 );
  text-shadow: -0.02em -0.03em 0.005em rgba(255, 255, 0, 0.56);
}

.btn {
  background-color: #6a1b9a;
  margin: 1.5em 0;
  border-radius: 5px;
  width: 40%;
}